th-1 {
    width: 20%;
}

img {
    width: 100%;
}

.btn-download-primary {
    background: rgb(0, 153, 255);
    border-radius: 10px 10px 0 0;
    width: 112px;
    font-size: 20px;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
}
.image-show {
    width: 700px;
    height: 500px;
}
