<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">รับเข้าเอกสาร</h1>
        <!-- <h1 class="m-0 text-dark">รับเข้าเอกสาร</h1> -->
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <!-- <p>รับเข้าเอกสาร</p> -->
        <div class="input-group">
          <input id="search" type="search" class="form-control form-control-lg" [(ngModel)]="textSearch"
            (keypress)="textSearchChange($event)" />
        </div>
        <div class="input-group-append" style="margin-top: 5px">
          <button class="btn btn-success" type="submit" [disabled]="!textSearch" (click)="(search)">ค้นหา</button>
        </div>
      </div>

      <div class="col-2">
        <div class="input-group">
          <button class="btn custom-info-btn" (click)="openModalDocument(tableDocument);"><i
              class="fas fa-table-list"></i>
            รายการเอกสาร</button>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h5 class="card-title"><i class="fa-solid fa-download"></i> รายการเอกสาร</h5>
            <!-- <button class="btn btn-success float-right" [disabled]="!departments || departments.length === 0" -->
            <div class="row">
              <div class="col-6"></div>
              <div class="col-6">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                    <button class="btn custom-tracking-btn float-right"
                      [disabled]="!dataWaitForSend || dataWaitForSend.length === 0"
                      (click)="insertDocument(confirmDocDetail,3)">
                      <i class="fas fa-external-link-square-alt"></i>
                      ส่งคืนเอกสาร
                    </button>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                    <button class="btn custom-edit-btn float-right"
                      [disabled]="!dataWaitForSend || dataWaitForSend.length === 0"
                      (click)="insertDocument(confirmDocDetail,2)">
                      <i class="fas fa-file-upload"></i>
                      ส่งต่อเอกสาร
                    </button>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                    <button class="btn btn-success float-right"
                      [disabled]="!dataWaitForSend || dataWaitForSend.length === 0"
                      (click)="insertDocument(confirmDocDetail,1)">
                      <i class="fas fa-file-download"></i>
                      รับเอกสารเข้า
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr class="bg-teal">
                  <th scope="col" style="width: 5px"></th>
                  <th scope="col">#</th>
                  <th scope="col">หมายเลขเอกสาร</th>
                  <th scope="col">หัวเรื่อง</th>
                  <th scope="col">บัญชีผู้นำเข้าระบบ</th>
                  <th scope="col">ประเภท</th>
                  <!-- <th scope="col">หน่วยงานปลายทาง</th> -->
                  <th scope="col">วัน เดือน ปี</th>
                  <!-- <th scope="col">ใช้เวลาไปแล้ว</th> -->
                  <th scope="col" class="text-center">เครื่องมือ</th>
                </tr>
              </thead>
              <tbody>
                <!-- <ng-container *ngIf="departments && departments.length > 0"> -->
                <ng-container *ngIf="dataWaitForSend && dataWaitForSend.length > 0">
                  <!-- <tr *ngFor="let item of departments;let i = index"> -->
                  <tr *ngFor="let item of dataWaitForSend; let i = index">
                    <td>
                      <!-- <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox2"
                            [checked]="item.isCheck">
                          <label for="customCheckbox2" class="custom-control-label">&nbsp;</label>
                        </div>
                      </div> -->
                    </td>
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.governmentDocNo }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.user.firstName + ' ' + item.user.lastName }}</td>
                    <td>
                      <span *ngIf="item.documentType === 'เอกสารภายใน'"
                        class="badge custom-edit-btn">{{item.documentType}}</span>
                      <span *ngIf="item.documentType === 'เอกสารภายนอก'"
                        class="badge badge-danger">{{item.documentType}}</span>
                    </td>
                    <td>{{ item.createdAt | dateFormat1 }}</td>
                    <!-- <td>1 ชม.</td> -->
                    <td class="text-center">
                      <button class="btn custom-tracking-btn btn-sm ml-2"
                        (click)="openHistory(history, item.governmentDocNo)">
                        <i class="fas fa-business-time"></i>
                      </button>
                      <button class="btn btn-danger btn-sm ml-2" (click)="del(i)">
                        <i class="fas fa-trash-can"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <!-- <nav *ngIf="departments && departments.length > 0">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">2</a></li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item">
                                    <a class="page-link">Next</a>
                                </li>
                            </ul>
                        </nav> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <ng-template #history let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-business-time"></i> ลำดับเหตุการณ์</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row m-3">
      <div class="col-sm-12 col-md-12 col-ls-12">
        <div class="timeline">
          <div class="time-label">
            <span class="btn-success"><i class="fas fa-calendar-week"></i> เหตุการณ์</span>
          </div>
          <ng-container *ngIf="historyDetail.length > 0">
            <ng-container *ngFor="let item of historyDetail">
              <div>
                <i class="fas fa-angle-double-down custom-edit-btn"></i>
                <div class="timeline-item">

                  <div class="timeline-header d-flex justify-content-between">
                    <div>
                      <i class="fas fa-clock" style="color: #676fa3"></i>
                      {{ item.createdAt | dateFormat1 }}
                    </div>
                    <div>
                      <span class="badge badge-info">{{ item.status | statusThai }}</span>
                    </div>
                  </div>
                  <div class="timeline-body">
                    <p class="p-3">
                      [{{ item.agencyRecipient ? item.agencyRecipient.abbreviationName : '' }}. ] - {{ item.comment }}
                    </p>

                  </div>

                  <div class="" style="margin: 10px"></div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="historyDetail.length <= 0">
            <div>
              <i class="fas fa-history bg-gray"></i>
              <div class="timeline-item">
                <div class="timeline-header no-borders">ไม่พบเหตุการณ์</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="btn-group">
        <button class="btn btn-danger" (click)="close()">ปิด</button>
      </div>
    </div>
  </div>
</ng-template> -->

<ng-template #confirmDocDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="btnType === 1"><i class="fas fa-file-download"></i> รายะเอียดรับเข้าเอกสาร</h4>
    <h4 class="modal-title" *ngIf="btnType === 2"><i class="fas fa-file-upload"></i> รายะเอียดส่งต่อเอกสาร</h4>
    <h4 class="modal-title" *ngIf="btnType === 3"><i class="fas fa-external-link-square-alt"></i> รายะเอียดส่งคืนเอกสาร
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body " style="height:75vh;overflow:auto">
    <!-- {{docHistory |json }} -->
    <ng-container *ngIf="dataWaitForSend.length > 0 && dataWaitForSend !== null">
      <ng-container *ngFor="let item of dataWaitForSend;let i1 = index;">
        <div class="card">
          <div class="card-header "
            [ngClass]="{'bg-custom-add':btnType === 1,'bg-custom-edit':btnType === 2,'bg-custom-tracking':btnType === 3}">
            ลำดับที่ {{i1 +1}}
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tr>
                <th style="width:250px">หมายเลขเอกสาร</th>
                <td>{{item.governmentDocNo}}</td>
              </tr>
              <tr>
                <th style="width:250px">หัวเรื่อง</th>
                <td>{{item.name}}</td>
              </tr>
              <tr>
                <th style="width:250px">ประเภท</th>
                <td>{{item.documentType}}</td>
              </tr>
              <tr>
                <th style="width:250px">วัน เดือน ปี</th>
                <td>{{item.createdAt | dateFormat1}}</td>
              </tr>
              <tr>
                <th style="width:250px">ส่งจาก</th>
                <td><input type="text" [(ngModel)]="item.formDoc" class="form-control"></td>
              </tr>
              <tr>
                <th style="width:250px">ส่งถึง</th>
                <td><input type="text" [(ngModel)]="item.toDoc" class="form-control"></td>
              </tr>
              <tr>
                <th style="width:250px">หมายเหตุ</th>
                <td><textarea type="text" [(ngModel)]="item.comment" class="form-control"></textarea></td>
              </tr>
            </table>
          </div>
        </div>

        <ng-container *ngIf="btnType === 2">
          <!-- ส่งต่อเอกสาร -->
          <div class="col-12 mb-3 header-secondary">
            <label>เลือกเส้นทางที่จะส่งต่อ</label>
          </div>
          <div class="card" *ngFor="let routingData of item.documentRoutingLists;let iRouting = index">
            <div class="card-body">
              <div class="form-check" style="margin-left: 20px">
                <input class="form-check-input" [(ngModel)]="routingData.selectRouting" type="checkbox" />
                <label class="form-check-label">{{ routingData.agencyRecipientName }}</label>
                <hr>
                &nbsp;&nbsp;&nbsp;
                <ng-container *ngIf="routingData.agencySecondaryRecipientName">
                  <label class="form-check-label"><b>- (หน่วยงานย่อย) </b> {{ routingData.agencySecondaryRecipientName
                    }}</label>
                </ng-container>

              </div>
            </div>
          </div>


          <div class="row-12">
            <hr />
          </div>

          <div class="col-12 mb-3 header-secondary">
            <label>ส่งต่อไปที่หน่วยงาน (ปลายทาง)</label>
            <!-- <button class="btn btn-success bg-g-success float-right" (click)="addRecipient(i1)">
              <i class="fa-solid fa-plus"></i> เพิ่มหน่วยงานปลายทาง
            </button> -->
          </div>

          <div class="col-12">
            <div class="card card-white" *ngFor="let item2 of item.agencyData; let indexAgencyData = index"
              [class.collapsed-card]="item2.collapsed">
              <div class="card-header">
                <span class="ml-3">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="item2.isSelectAll"
                    (ngModelChange)="isSelectOrUnSelect(i1, indexAgencyData); isSelectOrUnSelect2(i1, indexAgencyData)" />
                  <label>
                    {{ item2.agencyName }}
                  </label>

                  <span *ngIf="item2.isSelectAll" class="badge bg-danger ml-2 bg-g-danger">เลือกทั้งหมด</span>
                </span>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" (click)="item2.collapsed = !item2.collapsed">
                    <i *ngIf="!item2.collapsed" class="fas fa-plus"></i>
                    <i *ngIf="item2.collapsed" class="fas fa-minus"></i>
                  </button>
                </div>
              </div>

              <div class="card-body card-outline card-primary"
                [style]="item2.collapsed ? 'display: block' : 'display: none'">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="item2.isSelectAll"
                      (ngModelChange)="isSelectOrUnSelect(i1, indexAgencyData); isSelectOrUnSelect2(i1, indexAgencyData)" />
                    <label class="form-check-label">ทั้งหมด</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="item2.isSelect" type="checkbox"
                      (ngModelChange)="isSelectOrUnSelect2(i1, indexAgencyData)" />
                    <label class="form-check-label">{{ item2.agencyName }}</label>
                  </div>
                  <div class="form-check" style="margin-left: 20px" *ngFor="let item3 of item2.agencySecondaryLists">
                    <input class="form-check-input" [(ngModel)]="item3.isSelect" type="checkbox"
                      (ngModelChange)="isSelectOrUnSelect2(i1, indexAgencyData)" />
                    <label class="form-check-label">{{ item3.agencyName }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="btnType === 3">
          <div>
            <div class="row">
              <div class="col-12">
                <h4>
                  ส่งคืนไปที่ หน่วยงาน
                </h4>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let item2 of item.documentRoutingLists">
            <div class="card">
              <div class="card-body">
                <input type="checkbox" name="" id="" [(ngModel)]="item2.isSelect">
                {{item2.agencyRecipientName}}

                <ng-container *ngIf="item2.agencySecondaryRecipientName">
                  <hr>
                  &nbsp;&nbsp;&nbsp;
                  <b>
                    - (หน่วยงานย่อย)
                  </b>
                </ng-container>

                {{item2.agencySecondaryRecipientName ? item2.agencySecondaryRecipientName:''}}
              </div>
            </div>
          </ng-container>
        </ng-container>


      </ng-container>

    </ng-container>

  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="btn-group">
        <button class="btn custom-edit-btn" (click)="saveReceived()">บันทึก</button>
        <button class="btn btn-danger" (click)="close()">ปิด</button>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #tableDocument let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-file-pen"></i> รายการเอกสาร</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden=" true">&times;</span>
    </button>
  </div>
  <section class="content mt-3">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: end;">
          <form class="form-inline" [formGroup]="myForm">
            <label class="card-title">วันเริ่มต้น : </label>
            &nbsp;
            <input formControlName="startAt" class="form-control" placeholder="ปี-เดือน-วัน" name="dp"
              [(ngModel)]="dateStart" ngbDatepicker #d="ngbDatepicker" [placement]="placement">
            <button class="btn btn-outline-secondary" (click)="d.toggle();searchPagination" type="button"> <i
                class="fas fa-calendar-week"></i></button>
            &nbsp;

            <label class="card-title">วันสิ้นสุด : </label>
            &nbsp;
            <input formControlName="endAt" class="form-control" placeholder="ปี-เดือน-วัน" name="dp"
              [(ngModel)]="dateEnd" ngbDatepicker #d2="ngbDatepicker" [placement]="placement">
            <button class="btn btn-outline-secondary" (click)="d2.toggle();searchPagination" type="button"> <i
                class="fas fa-calendar-week"></i></button>
            &nbsp;

          </form>


        </div>

        <div class="card-header" style="display: flex; justify-content: end;">
          <form class="form-inline" [formGroup]="myForm">

            <label class="card-title">ค้นหาเอกสาร : </label>
            &nbsp;
            <input type="search" formControlName="search" [(ngModel)]="reqPaginationDocumentHistory.search"
              class="form-control rounded" placeholder="หมายเลขเอกสาร, ชื่อ-สกุล, หน่วยงาน">
            &nbsp;
            <button class="btn btn-primary" (click)="searchPagination($event)"><i class="fas fa-search"></i></button>
          </form>

        </div>
        <div class="card-body table-responsive p-0">

          <table class="table table-hover text-nowrap" *ngIf="true">
            <thead class="bg-teal">
              <tr>
                <th>
                  <input type="checkbox" [(ngModel)]="ngCheckAllItem" (click)="checkAll()" />
                </th>
                <th>#</th>
                <th>หมายเลขเอกสาร</th>
                <th>หัวเรื่อง</th>
                <th>เอกสารสำเร็จ</th>
                <th>บัญชีผู้นำเข้าระบบ</th>
                <th>ประเภท</th>
                <!-- <th>สถานะ</th> -->
                <th>ปี เดือน วัน</th>
                <th>ใช้เวลาไปแล้ว</th>
                <th>เพิ่มเติม</th>
              </tr>
            </thead>
            <tbody *ngIf="resPaginationDocumentHistoryData.datas.length > 0">
              <ng-container *ngFor="let item of resPaginationDocumentHistoryData.datas ; let i = index">
                <tr>

                  <td scope="col">
                    <input type="checkbox" [(ngModel)]="item.checked" (click)="checkUnCheck(i)" />
                  </td>
                  <td>{{i + 1}}</td>
                  <td>{{item.governmentDocNo}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.currentRouting + '/' + item.totalRouting}}</td>
                  <td>{{item.user.firstName}} {{item.user.lastName}} ({{item.user.phoneNumberSecure}})</td>
                  <td>

                    <span *ngIf="item.documentType === 'เอกสารภายใน'"
                      class="badge custom-edit-btn">{{item.documentType}}</span>
                    <span *ngIf="item.documentType === 'เอกสารภายนอก'"
                      class="badge badge-danger">{{item.documentType}}</span>
                  </td>
                  <!-- <td><span class="badge badge-info">{{item.documentRoutingLists[0].status}}</span></td> -->
                  <td>{{item.createdAt | dateFormat1}}</td>
                  <td>{{item.calFromNow}}</td>
                  <td>
                    <button class="btn custom-tracking-btn" (click)="openHistory(history, item.barcode)">
                      <i class="fas fa-business-time"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>

            <tbody
              *ngIf="resPaginationDocumentHistoryData.datas.length === 0 || resPaginationDocumentHistoryData.datas === null">
              <tr class="text-center">
                <td colspan="10">ไม่พบเอกสาร</td>
              </tr>
            </tbody>

          </table>


        </div>

        <div class="card-footer" *ngIf="resPaginationDocumentHistoryData.datas.length > 0">

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-left">
              <ng-container *ngIf="resPaginationDocumentHistoryData.datas.length > 0">
                <ngb-pagination [collectionSize]="resPaginationDocumentHistory.resData.totalPages * 10"
                  [(page)]="reqPaginationDocumentHistory.page" [maxSize]="5" [boundaryLinks]="true"
                  (pageChange)="havePagingDatas = false; getUserPagination()">
                </ngb-pagination>
              </ng-container>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 text-right">
              <button class="btn custom-info-btn" (click)="confirmSelectDocument()">
                ยืนยันเอกสารที่ต้องการรับ
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</ng-template>
<ng-template #history let-c="close">
  <div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-business-time"></i> ลำดับเหตุการณ์</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('save click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body">
    <div class="row m-3">
      <div class="col-sm-12 col-md-12 col-ls-12">
        <div class="timeline">
          <div class="time-label">
            <span class="btn-success"><i class="fas fa-calendar-week"></i> เหตุการณ์</span>
          </div>
          <ng-container *ngIf="historyDetail.length > 0">
            <ng-container *ngFor="let item of historyDetail">
              <div>
                <i class="fas fa-angle-double-down custom-edit-btn"></i>
                <div class="timeline-item">
                  <div class="timeline-header d-flex justify-content-between">
                    <div>
                      <i class="fas fa-clock" style="color: #676fa3"></i>
                      {{ item.createdAt | dateFormat1 }}
                    </div>
                    <div>
                      <span class="badge badge-info">{{ item.status | statusThai }}</span>
                    </div>
                  </div>
                  <div class="timeline-body">
                    <p class="p-3">
                      [{{ item.agencyRecipient ? item.agencyRecipient.abbreviationName : '' }}. ] - {{ item.comment }}
                    </p>
                  </div>

                  <div class="" style="margin: 10px"></div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="historyDetail.length <= 0">
            <div>
              <i class="fas fa-history bg-gray"></i>
              <div class="timeline-item">
                <div class="timeline-header no-borders">ไม่พบเหตุการณ์</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div> -->
  <div class="modal-body" style="height:70vh;overflow:auto">
    <app-document-routing-list [routingList]="resFindOneDocumentHistoryForTimeLine">
    </app-document-routing-list>

  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="btn-group">
        <button class="btn btn-danger" (click)="c('save click')">ปิด</button>
      </div>
    </div>
  </div>
</ng-template>
