.custom-add-btn{
  background-color: #8C1F78 !important;
  border-color: #8C1F78 !important;
  color: white;
}
.custom-print-btn{
  background-color: #FFC007 !important;
  border-color: #FFC007 !important;
  color: white;
}
.custom-info-btn{
  background-color: #5591f5 !important;
  border-color: #5591f5 !important;
  color: white;
}
.custom-edit-btn{
  background-color: #80c423 !important;
  border-color: #80c423 !important;
  color: white;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.custom-tracking-btn {
  background-color: #564a9b !important;
  border-color: #564a9b !important;
  color: white;
}
