.custom-add-btn {
    background-color: #8c1f78 !important;
    border-color: #8c1f78 !important;
    color: white;
}
.custom-print-btn {
    background-color: #ffc007 !important;
    border-color: #ffc007 !important;
    color: white;
}
.custom-info-btn {
    background-color: #5591f5 !important;
    border-color: #5591f5 !important;
    color: white;
}
.custom-edit-btn {
    background-color: #80c423 !important;
    border-color: #80c423 !important;
    color: white;
}

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.header-secondary {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container-upload {
    width: 500px;
    height: 250px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: white;
        width: 183px;
        height: 44px;
        border-radius: 21.5px;
        // background-color: #db202f;
        background: linear-gradient(60deg, #8c1f78 50%, #a73693 50%);
        padding: 8px 16px;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #38424c;
    }
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.files-list {
    margin-top: 1.5rem;

    .single-file {
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
        border: dashed 1px #979797;
        margin-bottom: 1rem;

        .delete {
            display: flex;
            margin-left: 0.5rem;
            cursor: pointer;
            align-self: flex-end;
        }

        display: flex;
        flex-grow: 1;

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%;
        }
    }
}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.card-primary.card-outline {
    border-top: 3px solid #8c1f78 !important;
}

.text-end {
    text-align: end !important;
}
