.custom-tracking-btn {
    background-color: #564a9b !important;
    border-color: #564a9b !important;
    color: white;
}
.custom-edit-btn {
    background-color: #80c423 !important;
    border-color: #80c423 !important;
    color: white;
}
.card-primary.card-outline {
    border-top: 3px solid #8c1f78 !important;
}
.btn-success {
    background-color: #8c1f78 !important;
    border-color: #8c1f78 !important;
    color: white;
}
.custom-external-btn {
    background-color: #c43b23 !important;
    border-color: #c43b23 !important;
    color: white;
}

// card custom
.card-primary.card-outline {
    border-top: 3px solid #8c1f78 !important;
}
