.card-primary.card-outline {
  border-top: 3px solid #8c1f78 !important;
}
.btn-success {
  background-color: #8c1f78 !important;
  border-color: #8c1f78 !important;
  color: white;
}
.custom-tracking-btn{
background-color: #564A9B !important;
border-color: #564A9B !important;
color: white;
}
// .btn-primary {
//     background-color: #564a9b !important;
//     border-color: #564a9b !important;
// }
.custom-edit-btn {
  background-color: #80c423 !important;
  border-color: #80c423 !important;
  color: white;
}

// background
.bg-custom-add {
  color: white;
  background: rgb(140, 31, 120);
  background: linear-gradient(60deg, rgba(140, 31, 120, 1) 50%, rgba(167, 54, 147, 1) 50%);
}
.bg-custom-edit {
  color: white;
  background: rgb(128, 196, 35);
  background: linear-gradient(60deg, rgba(128, 196, 35, 1) 50%, rgba(172, 226, 98, 1) 50%);
}
.bg-custom-view {
  color: white;
  background: rgb(85, 145, 245);
  background: linear-gradient(60deg, rgba(85, 145, 245, 1) 50%, rgba(125, 169, 241, 1) 50%);
}
.custom-info-btn{
background-color: #5591f5 !important;
border-color: #5591f5 !important;
color: white;
}
table .w-10 { width:10%; }
table .w-30 { width:30%; }
