.custom-tracking-btn{
  background-color: #564A9B !important;
  border-color: #564A9B !important;
  color: white;
}
.custom-edit-btn{
  background-color: #80c423 !important;
  border-color: #80c423 !important;
  color: white;
}
.card-primary.card-outline{
  border-top: 3px solid #8C1F78 !important;
}
.btn-success{
  background-color: #8C1F78 !important;
  border-color: #8C1F78 !important;
  color: white;
}
.custom-edit-btn{
  background-color: #80c423 !important;
  border-color: #80c423 !important;
  color: white;
}
